/*    pagpleMainNav.css
**    Pagple
**
**    Created by Matthias Ryne Cheow on 05/03/13.
*/
@import url('font.css');

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {
  margin: 0;
  padding: 0;
}

/* COMMON CLASSES */
.break {
  clear: both;
}

/* WRAPPER */
#body-container {
  width: 1000px;
  margin: 45px auto;
}

/* CONTENT */
#body-content {
  margin-top: 50px;
}

#body-content p {
  font: 14px  MuseoSans, "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  color: #333333;
  line-height: 18px;
  margin: 15px auto;
  width: 903px;
}

#body-content p a {
  color: #0088CC;
  text-decoration: none;
}

#body-content p a:hover {
  text-decoration: underline;
}

